#lucky-mask-demo {
    position: absolute;
    z-index: 1000000;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: none;
}

#luckysheet {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    outline: none;
}

#luckysheet_info_detail button {
    padding: 3px 6px;
    font-size: 12px;
    margin-right: 10px;
}

.simu-notice {
    position: absolute;
    display: block;
    left: 50%;
    top: 16px;
    width: 320px;
    margin-left: -160px;
    line-height: 1.25em;
    padding: 8px 16px;
    background-color: #ffecb3;
    box-shadow: 0 6px 12px #00000061;
    border-radius: 32px;
    z-index: 999;
    box-sizing: border-box;
    color: #424242;
    font-size: 12px;
    transition: all 0.2s ease;
    transform: translateY(-120px);
    opacity: 0;
}

.simu-notice[status="on"]{
    transform: translateY(-0);
    opacity: 1;
}